<div class="text-center">
  <h1>Vite !!! Aide Squirelo à trouver des cafetières...
  </h1>
  <h2>
  avant que Paillardo se fâche... !
</h2>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-8 text-center">
    <canvas id="canvas" width="600px" height="400px"></canvas>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag('valentin.png', id:"bigval") %>
    <h1>Score : <i id="score">0</i></h1>
    <%= image_tag('cafetiere.png', id:"cafetiere") %>
    <%= image_tag('valentin.png', id:"valentin") %>
  </div>
</div>
